#s-591a7fc9-7706-457a-afe2-a76b9133d338 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 > #alignmentBox {
  position: relative;
  margin: 0 auto;
  width: 1024px;
  min-width: 1024px;
  min-height: 768px;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-favContainer {
  position: absolute;
  top: 446px;
  left: 30px;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Panel_2 {
  width: 964px;
  height: 104px;
  background-color: #F3F3F3;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Panel_2 .verticalalign {
  vertical-align: top;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-favTitle_1 {
  position: absolute;
  top: 62px;
  left: 35px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  opacity: 0.96;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: Nexa Bold,Arial;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-favTitle_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-favTitle_1 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Nexa Bold,Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-favTitle_1 span#rtr-s-favTitle_1_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Nexa Bold,Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-favTitle_2 {
  position: absolute;
  top: 62px;
  left: 715px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  opacity: 0.96;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: Nexa Bold,Arial;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-favTitle_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-favTitle_2 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Nexa Bold,Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-favTitle_2 span#rtr-s-favTitle_2_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Nexa Bold,Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-favTitle {
  position: absolute;
  top: 38px;
  left: 351px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  opacity: 0.96;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 36.0pt;
  font-family: Nexa Bold,Arial;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-favTitle .valign {
  vertical-align: middle;
  text-align: left;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-favTitle span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Nexa Bold,Arial;
  font-size: 36.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-favTitle span#rtr-s-favTitle_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Nexa Bold,Arial;
  font-size: 36.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-favPanel {
  position: absolute;
  top: 549px;
  left: 31px;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Panel_3 {
  width: 962px;
  height: 219px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: auto;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Panel_3 .verticalalign {
  vertical-align: top;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Group_1 {
  position: absolute;
  top: 29px;
  left: 30px;
  width: 100px;
  height: 101px;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Image_1 {
  position: absolute;
  top: 1px;
  left: 0px;
  width: 100px;
  height: 100px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Label_3 {
  position: absolute;
  top: 0px;
  left: 70px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 22.0pt;
  font-family: FontAwesomeJiM-Regular,Arial;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Label_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Label_3 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM-Regular,Arial;
  font-size: 22.0pt;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Label_3 span#rtr-s-Label_3_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM-Regular,Arial;
  font-size: 22.0pt;
  line-height: 0px;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Picture {
  position: absolute;
  top: 140px;
  left: 709px;
  width: 100px;
  height: 100px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Picture_4 {
  position: absolute;
  top: 28px;
  left: 821px;
  width: 100px;
  height: 100px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Picture_5 {
  position: absolute;
  top: 494px;
  left: 594px;
  width: 100px;
  height: 100px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Image_2 {
  position: absolute;
  top: 154px;
  left: 30px;
  width: 100px;
  height: 100px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Image_4 {
  position: absolute;
  top: 28px;
  left: 313px;
  width: 100px;
  height: 100px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Group_2 {
  position: absolute;
  top: 154px;
  left: 310px;
  width: 98px;
  height: 100px;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Image_3 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 98px;
  height: 100px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Label_4 {
  position: absolute;
  top: 0px;
  left: 68px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 22.0pt;
  font-family: FontAwesomeJiM-Regular,Arial;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Label_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Label_4 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM-Regular,Arial;
  font-size: 22.0pt;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Label_4 span#rtr-s-Label_4_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM-Regular,Arial;
  font-size: 22.0pt;
  line-height: 0px;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Image_9 {
  position: absolute;
  top: 154px;
  left: 171px;
  width: 95px;
  height: 100px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Picture_6 {
  position: absolute;
  top: 258px;
  left: 594px;
  width: 100px;
  height: 100px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Picture_7 {
  position: absolute;
  top: 493px;
  left: 821px;
  width: 100px;
  height: 100px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Image_8 {
  position: absolute;
  top: 300px;
  left: 36px;
  width: 88px;
  height: 102px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Image_16 {
  position: absolute;
  top: 568px;
  left: 30px;
  width: 100px;
  height: 100px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Label_5 {
  position: absolute;
  top: 567px;
  left: 393px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 22.0pt;
  font-family: FontAwesomeJiM-Regular,Arial;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Label_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Label_5 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM-Regular,Arial;
  font-size: 22.0pt;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Label_5 span#rtr-s-Label_5_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM-Regular,Arial;
  font-size: 22.0pt;
  line-height: 0px;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Picture_8 {
  position: absolute;
  top: 140px;
  left: 822px;
  width: 100px;
  height: 100px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Picture_2 {
  position: absolute;
  top: 28px;
  left: 593px;
  width: 100px;
  height: 100px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Picture_12 {
  position: absolute;
  top: 138px;
  left: 594px;
  width: 100px;
  height: 100px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Picture_1 {
  position: absolute;
  top: 494px;
  left: 709px;
  width: 100px;
  height: 100px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Picture_9 {
  position: absolute;
  top: 374px;
  left: 822px;
  width: 100px;
  height: 100px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Picture_10 {
  position: absolute;
  top: 605px;
  left: 709px;
  width: 100px;
  height: 100px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Picture_11 {
  position: absolute;
  top: 258px;
  left: 824px;
  width: 100px;
  height: 100px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Picture_14 {
  position: absolute;
  top: 605px;
  left: 594px;
  width: 100px;
  height: 100px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Picture_15 {
  position: absolute;
  top: 605px;
  left: 822px;
  width: 100px;
  height: 100px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Picture_16 {
  position: absolute;
  top: 374px;
  left: 706px;
  width: 100px;
  height: 100px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Picture_17 {
  position: absolute;
  top: 258px;
  left: 709px;
  width: 100px;
  height: 100px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Picture_18 {
  position: absolute;
  top: 374px;
  left: 593px;
  width: 100px;
  height: 100px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Picture_3 {
  position: absolute;
  top: 28px;
  left: 709px;
  width: 100px;
  height: 100px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Image_25 {
  position: absolute;
  top: 326px;
  left: 289px;
  width: 147px;
  height: 201px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Image_12 {
  position: absolute;
  top: 432px;
  left: 36px;
  width: 185px;
  height: 105px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Image_13 {
  position: absolute;
  top: 300px;
  left: 171px;
  width: 94px;
  height: 105px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Image_10 {
  position: absolute;
  top: 29px;
  left: 169px;
  width: 96px;
  height: 101px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Hotspot_6 {
  position: absolute;
  top: 30px;
  left: 169px;
  width: 96px;
  height: 100px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Hotspot_7 {
  position: absolute;
  top: 301px;
  left: 171px;
  width: 96px;
  height: 103px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Group_3 {
  position: absolute;
  top: 568px;
  left: 334px;
  width: 98px;
  height: 100px;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Image_5 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 98px;
  height: 100px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Label_6 {
  position: absolute;
  top: 0px;
  left: 68px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 22.0pt;
  font-family: FontAwesomeJiM-Regular,Arial;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Label_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Label_6 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM-Regular,Arial;
  font-size: 22.0pt;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Label_6 span#rtr-s-Label_6_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM-Regular,Arial;
  font-size: 22.0pt;
  line-height: 0px;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Image_14 {
  position: absolute;
  top: 568px;
  left: 185px;
  width: 95px;
  height: 100px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-naveMenuLogged {
  position: absolute;
  top: 0px;
  left: 0px;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Panel_1 {
  width: 1024px;
  height: 84px;
  background-color: #434343;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Panel_1 .verticalalign {
  vertical-align: top;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Text_4 {
  position: absolute;
  top: 12px;
  left: 12px;
  width: 175px;
  height: 69px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 42.0pt;
  font-family: Nexa Bold,Arial;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Text_4 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Nexa Bold,Arial;
  font-size: 42.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Text_4 span#rtr-s-Text_4_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Nexa Bold,Arial;
  font-size: 42.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Text_4 span#rtr-s-Text_4_1 {
  color: #FECE76;
  text-align: left;
  text-decoration: none;
  font-family: Nexa Bold,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Hotspot_5 {
  position: absolute;
  top: 3px;
  left: 10px;
  width: 180px;
  height: 72px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Text_5 {
  position: absolute;
  top: 53px;
  left: 273px;
  width: 84px;
  height: 22px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Nexa Bold,Arial;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Text_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Text_5 span {
  color: #EFEFEF;
  text-align: center;
  text-decoration: none;
  font-family: Nexa Bold,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Text_5 span#rtr-s-Text_5_0 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Nexa Bold,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Text_9 {
  position: absolute;
  top: 53px;
  left: 356px;
  width: 84px;
  height: 22px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Nexa Bold,Arial;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Text_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Text_9 span {
  color: #EFEFEF;
  text-align: center;
  text-decoration: none;
  font-family: Nexa Bold,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Text_9 span#rtr-s-Text_9_0 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Nexa Bold,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Text_15 {
  position: absolute;
  top: 53px;
  left: 439px;
  width: 84px;
  height: 22px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Nexa Bold,Arial;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Text_15 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Text_15 span {
  color: #EFEFEF;
  text-align: center;
  text-decoration: none;
  font-family: Nexa Bold,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Text_15 span#rtr-s-Text_15_0 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Nexa Bold,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Text_10 {
  position: absolute;
  top: 53px;
  left: 522px;
  width: 84px;
  height: 22px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Nexa Bold,Arial;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Text_10 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Text_10 span {
  color: #EFEFEF;
  text-align: center;
  text-decoration: none;
  font-family: Nexa Bold,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Text_10 span#rtr-s-Text_10_0 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Nexa Bold,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Hotspot_1 {
  position: absolute;
  top: 33px;
  left: 262px;
  width: 93px;
  height: 40px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Hotspot_2 {
  position: absolute;
  top: 32px;
  left: 358px;
  width: 81px;
  height: 42px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Hotspot_3 {
  position: absolute;
  top: 33px;
  left: 443px;
  width: 80px;
  height: 40px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Hotspot_4 {
  position: absolute;
  top: 31px;
  left: 524px;
  width: 90px;
  height: 40px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-searchBar {
  position: absolute;
  top: 41px;
  left: 641px;
  width: 200px;
  height: 30px;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Rectangle_7 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 182px;
  height: 11px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 15px 15px 15px 15px;
  padding-top: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Rectangle_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Rectangle_7 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Rectangle_7 span#rtr-s-Rectangle_7_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Input_5 {
  position: absolute;
  top: 1px;
  left: 24px;
  padding-left: 15px;
  width: 114px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Input_5 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Input_5 input {
  color: #555555;
  text-align: left;
  text-decoration: none;
  font-family: Nexa Bold,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  text-shadow: none;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Label_64 {
  position: absolute;
  top: 5px;
  left: 12px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Label_64 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Label_64 span {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 16.0pt;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Label_64 span#rtr-s-Label_64_0 {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Image_6 {
  position: absolute;
  top: 18px;
  left: 952px;
  width: 57px;
  height: 57px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Text_11 {
  position: absolute;
  top: 53px;
  left: 867px;
  width: 86px;
  height: 22px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Nexa Bold,Arial;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Text_11 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Text_11 span {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Nexa Bold,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Text_11 span#rtr-s-Text_11_0 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Nexa Bold,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-sortButton {
  position: absolute;
  top: 506px;
  left: 607px;
  width: 120px;
  height: 110px;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Group_11 {
  position: absolute;
  top: 33px;
  left: 0px;
  width: 120px;
  height: 77px;
  display: none;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Rectangle_15 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 110px;
  height: 10px;
  background-color: #999999;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #B5B5B5;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #B5B5B5;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #B5B5B5;
  border-radius: 8px 8px 0px 0px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 0px;
  padding-left: 4px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Rectangle_15 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Rectangle_15 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Rectangle_15 span#rtr-s-Rectangle_15_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Rectangle_16 {
  position: absolute;
  top: 62px;
  left: 0px;
  width: 110px;
  height: 10px;
  background-color: #999999;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #B5B5B5;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #B5B5B5;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #B5B5B5;
  border-radius: 0px 0px 8px 8px;
  padding-top: 0px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Rectangle_16 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Rectangle_16 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Rectangle_16 span#rtr-s-Rectangle_16_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Input_12 {
  position: absolute;
  top: 6px;
  left: 0px;
  padding-left: 15px;
  width: 103px;
  height: 18px;
  background-color: #999999;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #B5B5B5;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #B5B5B5;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Input_12 .valign {
  vertical-align: middle;
  line-height: 9.0pt;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Input_12 input {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Nexa Bold,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
  text-shadow: none;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Input_9 {
  position: absolute;
  top: 21px;
  left: 0px;
  padding-left: 15px;
  width: 103px;
  height: 15px;
  background-color: #999999;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #B5B5B5;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #B5B5B5;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Input_9 .valign {
  vertical-align: middle;
  line-height: 9.0pt;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Input_9 input {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Nexa Bold,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
  text-shadow: none;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Input_11 {
  position: absolute;
  top: 36px;
  left: 0px;
  padding-left: 15px;
  width: 103px;
  height: 15px;
  background-color: #999999;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #B5B5B5;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #B5B5B5;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Input_11 .valign {
  vertical-align: middle;
  line-height: 9.0pt;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Input_11 input {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Nexa Bold,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
  text-shadow: none;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Input_13 {
  position: absolute;
  top: 51px;
  left: 0px;
  padding-left: 15px;
  width: 103px;
  height: 15px;
  background-color: #999999;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #B5B5B5;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #B5B5B5;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Input_13 .valign {
  vertical-align: middle;
  line-height: 9.0pt;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Input_13 input {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Nexa Bold,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
  text-shadow: none;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Button_2 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 16px;
  width: 9px;
  height: 16px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 9.0pt;
  font-family: Nexa Bold,Arial;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Button_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Button_2 span {
  color: #030303;
  text-align: left;
  text-decoration: none;
  font-family: Nexa Bold,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Button_2 span#rtr-s-Button_2_0 {
  color: #030303;
  text-align: left;
  text-decoration: none;
  font-family: Nexa Bold,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Image_11 {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 9px;
  height: 5px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-profileContainer {
  position: absolute;
  top: 84px;
  left: 0px;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Panel_4 {
  width: 1024px;
  height: 358px;
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Panel_4 .verticalalign {
  vertical-align: top;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Image_7 {
  position: absolute;
  top: 35px;
  left: 411px;
  width: 150px;
  height: 150px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Text_1 {
  position: absolute;
  top: 184px;
  left: 342px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: Nexa Bold,Arial;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Text_1 span {
  color: #FF0000;
  text-align: left;
  text-decoration: none;
  font-family: Nexa Bold,Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #FF0000;
  text-align: left;
  text-decoration: none;
  font-family: Nexa Bold,Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Text_1 span#rtr-s-Text_1_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Nexa Bold,Arial;
  font-size: 32.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 32.0pt;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-bioPanel {
  position: absolute;
  top: 234px;
  left: 161px;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Panel_11 {
  width: 704px;
  height: 116px;
  background-color: #FFFFFF;
  background-image: none;
  opacity: 0.79;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Panel_11 .verticalalign {
  vertical-align: top;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Paragraph_1 {
  position: absolute;
  top: 26px;
  left: 3px;
  width: 697px;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: Nexa Bold,Arial;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Paragraph_1 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Nexa Bold,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Nexa Bold,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Label_9 {
  position: absolute;
  top: 183px;
  left: 631px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: FontAwesomeJiM-Regular,Arial;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Label_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Label_9 span {
  color: #FECB6E;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM-Regular,Arial;
  font-size: 20.0pt;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Label_9 span#rtr-s-Label_9_0 {
  color: #FECB6E;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Group_4 {
  position: absolute;
  top: 52px;
  left: 631px;
  width: 94px;
  height: 66px;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Text_23 {
  position: absolute;
  top: 50px;
  left: 0px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Nexa Light,Arial;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Text_23 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Text_23 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Nexa Light,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Text_23 span#rtr-s-Text_23_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Nexa Light,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Text_24 {
  position: absolute;
  top: 25px;
  left: 0px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Nexa Light,Arial;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Text_24 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Text_24 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Nexa Light,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Text_24 span#rtr-s-Text_24_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Nexa Light,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Text_25 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Nexa Light,Arial;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Text_25 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Text_25 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Nexa Light,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Text_25 span#rtr-s-Text_25_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Nexa Light,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}