#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-favTitle_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=96);
  filter: alpha(opacity=96);
  -ms-transform: rotate(0.0deg);
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-favTitle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=96);
  filter: alpha(opacity=96);
  -ms-transform: rotate(0.0deg);
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-favTitle {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=96);
  filter: alpha(opacity=96);
  -ms-transform: rotate(0.0deg);
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Label_3 {
  -ms-transform: rotate(0.0deg);
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Picture {
  -ms-transform: rotate(0.0deg);
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Picture_4 {
  -ms-transform: rotate(0.0deg);
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Picture_5 {
  -ms-transform: rotate(0.0deg);
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Label_4 {
  -ms-transform: rotate(0.0deg);
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Picture_6 {
  -ms-transform: rotate(0.0deg);
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Picture_7 {
  -ms-transform: rotate(0.0deg);
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Image_16 {
  -ms-transform: rotate(0.0deg);
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Label_5 {
  -ms-transform: rotate(0.0deg);
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Picture_8 {
  -ms-transform: rotate(0.0deg);
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Picture_2 {
  -ms-transform: rotate(0.0deg);
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Picture_12 {
  -ms-transform: rotate(0.0deg);
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Picture_1 {
  -ms-transform: rotate(0.0deg);
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Picture_9 {
  -ms-transform: rotate(0.0deg);
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Picture_10 {
  -ms-transform: rotate(0.0deg);
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Picture_11 {
  -ms-transform: rotate(0.0deg);
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Picture_14 {
  -ms-transform: rotate(0.0deg);
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Picture_15 {
  -ms-transform: rotate(0.0deg);
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Picture_16 {
  -ms-transform: rotate(0.0deg);
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Picture_17 {
  -ms-transform: rotate(0.0deg);
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Picture_18 {
  -ms-transform: rotate(0.0deg);
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Picture_3 {
  -ms-transform: rotate(0.0deg);
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Image_25 {
  -ms-transform: rotate(0.0deg);
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Image_12 {
  -ms-transform: rotate(0.0deg);
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Image_13 {
  -ms-transform: rotate(0.0deg);
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Image_10 {
  -ms-transform: rotate(0.0deg);
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Label_6 {
  -ms-transform: rotate(0.0deg);
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Image_14 {
  -ms-transform: rotate(0.0deg);
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Text_15 {
  -ms-transform: rotate(0.0deg);
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Rectangle_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 15px 15px 15px 15px;
  padding-top: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  width: 182px;
  height: 11px;
  -ms-transform: rotate(0.0deg);
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Label_64 {
  -ms-transform: rotate(0.0deg);
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Rectangle_15 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #B5B5B5;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #B5B5B5;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #B5B5B5;
  border-radius: 8px 8px 0px 0px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 0px;
  padding-left: 4px;
  width: 110px;
  height: 10px;
  -ms-transform: rotate(0.0deg);
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Rectangle_16 {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #B5B5B5;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #B5B5B5;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #B5B5B5;
  border-radius: 0px 0px 8px 8px;
  padding-top: 0px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  width: 110px;
  height: 10px;
  -ms-transform: rotate(0.0deg);
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Button_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 16px;
  width: 9px;
  height: 16px;
  -ms-transform: rotate(0.0deg);
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Image_11 {
  -ms-transform: rotate(0.0deg);
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Panel_11 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=79);
  filter: alpha(opacity=79);
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Label_9 {
  -ms-transform: rotate(0.0deg);
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Text_23 {
  -ms-transform: rotate(0.0deg);
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Text_24 {
  -ms-transform: rotate(0.0deg);
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 #s-Text_25 {
  -ms-transform: rotate(0.0deg);
}
#s-591a7fc9-7706-457a-afe2-a76b9133d338 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}