#s-9bf53af0-f205-49e3-9cd0-4f864a76423a #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-9bf53af0-f205-49e3-9cd0-4f864a76423a #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-9bf53af0-f205-49e3-9cd0-4f864a76423a #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-9bf53af0-f205-49e3-9cd0-4f864a76423a #s-Button_13 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #5BB85C;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #5BB85C;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #5BB85C;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #5BB85C;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 182px;
  height: 21px;
  -ms-transform: rotate(0.0deg);
}
#s-9bf53af0-f205-49e3-9cd0-4f864a76423a #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-9bf53af0-f205-49e3-9cd0-4f864a76423a #s-Panel_1 > .valign {
  vertical-align: top;
}
#s-9bf53af0-f205-49e3-9cd0-4f864a76423a #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-9bf53af0-f205-49e3-9cd0-4f864a76423a #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-9bf53af0-f205-49e3-9cd0-4f864a76423a #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-9bf53af0-f205-49e3-9cd0-4f864a76423a #s-Label_3 {
  -ms-transform: rotate(0.0deg);
}
#s-9bf53af0-f205-49e3-9cd0-4f864a76423a #s-Ellipse_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-9bf53af0-f205-49e3-9cd0-4f864a76423a #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-9bf53af0-f205-49e3-9cd0-4f864a76423a #s-Line_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-9bf53af0-f205-49e3-9cd0-4f864a76423a #s-Line_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-9bf53af0-f205-49e3-9cd0-4f864a76423a #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-9bf53af0-f205-49e3-9cd0-4f864a76423a #s-Line_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-9bf53af0-f205-49e3-9cd0-4f864a76423a #s-Line_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-9bf53af0-f205-49e3-9cd0-4f864a76423a #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-9bf53af0-f205-49e3-9cd0-4f864a76423a #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-9bf53af0-f205-49e3-9cd0-4f864a76423a #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-9bf53af0-f205-49e3-9cd0-4f864a76423a #s-Text_15 {
  -ms-transform: rotate(0.0deg);
}
#s-9bf53af0-f205-49e3-9cd0-4f864a76423a #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-9bf53af0-f205-49e3-9cd0-4f864a76423a #s-Rectangle_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 15px 15px 15px 15px;
  padding-top: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  width: 182px;
  height: 11px;
  -ms-transform: rotate(0.0deg);
}
#s-9bf53af0-f205-49e3-9cd0-4f864a76423a #s-Label_64 {
  -ms-transform: rotate(0.0deg);
}
#s-9bf53af0-f205-49e3-9cd0-4f864a76423a #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-9bf53af0-f205-49e3-9cd0-4f864a76423a #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-9bf53af0-f205-49e3-9cd0-4f864a76423a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}