#s-9bf53af0-f205-49e3-9cd0-4f864a76423a > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-9bf53af0-f205-49e3-9cd0-4f864a76423a > #alignmentBox {
  position: relative;
  margin: 0 auto;
  width: 1024px;
  min-width: 1024px;
  min-height: 768px;
}
#s-9bf53af0-f205-49e3-9cd0-4f864a76423a #s-Image_1 {
  position: absolute;
  top: 93px;
  left: 260px;
  width: 730px;
  height: 675px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-9bf53af0-f205-49e3-9cd0-4f864a76423a #s-infoCard {
  position: absolute;
  top: 90px;
  left: 12px;
}
#s-9bf53af0-f205-49e3-9cd0-4f864a76423a #s-Panel_6 {
  width: 220px;
  height: 87px;
  background-color: #EFEFEF;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-9bf53af0-f205-49e3-9cd0-4f864a76423a #s-Panel_6 .verticalalign {
  vertical-align: top;
}
#s-9bf53af0-f205-49e3-9cd0-4f864a76423a #s-Text_4 {
  position: absolute;
  top: 4px;
  left: 101px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 24.0pt;
  font-family: Nexa Bold,Arial;
}
#s-9bf53af0-f205-49e3-9cd0-4f864a76423a #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9bf53af0-f205-49e3-9cd0-4f864a76423a #s-Text_4 span {
  color: #FF0000;
  text-align: left;
  text-decoration: none;
  font-family: Nexa Bold,Arial;
  font-size: 24.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-9bf53af0-f205-49e3-9cd0-4f864a76423a #s-Text_4 span#rtr-s-Text_4_0 {
  color: #FF0000;
  text-align: left;
  text-decoration: none;
  font-family: Nexa Bold,Arial;
  font-size: 24.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-9bf53af0-f205-49e3-9cd0-4f864a76423a #s-Text_5 {
  position: absolute;
  top: 12px;
  left: 158px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Nexa Light,Arial;
}
#s-9bf53af0-f205-49e3-9cd0-4f864a76423a #s-Text_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9bf53af0-f205-49e3-9cd0-4f864a76423a #s-Text_5 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Nexa Light,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-9bf53af0-f205-49e3-9cd0-4f864a76423a #s-Text_5 span#rtr-s-Text_5_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Nexa Light,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-9bf53af0-f205-49e3-9cd0-4f864a76423a #s-Button_13 {
  position: absolute;
  top: 42px;
  left: 14px;
  width: 182px;
  height: 21px;
  background-color: #5CB85C;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #5BB85C;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #5BB85C;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #5BB85C;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #5BB85C;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Nexa Light,Arial;
}
#s-9bf53af0-f205-49e3-9cd0-4f864a76423a #s-Button_13 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9bf53af0-f205-49e3-9cd0-4f864a76423a #s-Button_13 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Nexa Light,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-9bf53af0-f205-49e3-9cd0-4f864a76423a #s-Button_13 span#rtr-s-Button_13_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Nexa Light,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-9bf53af0-f205-49e3-9cd0-4f864a76423a #s-Text_6 {
  position: absolute;
  top: 12px;
  left: 14px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Nexa Light,Arial;
}
#s-9bf53af0-f205-49e3-9cd0-4f864a76423a #s-Text_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9bf53af0-f205-49e3-9cd0-4f864a76423a #s-Text_6 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Nexa Light,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-9bf53af0-f205-49e3-9cd0-4f864a76423a #s-Text_6 span#rtr-s-Text_6_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Nexa Light,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-9bf53af0-f205-49e3-9cd0-4f864a76423a #s-shopcartContainer {
  position: absolute;
  top: 176px;
  left: 12px;
}
#s-9bf53af0-f205-49e3-9cd0-4f864a76423a #s-Panel_1 {
  width: 220px;
  height: 180px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-9bf53af0-f205-49e3-9cd0-4f864a76423a #s-Panel_1 .verticalalign {
  vertical-align: top;
}
#s-9bf53af0-f205-49e3-9cd0-4f864a76423a #s-Panel_2 {
  width: 220px;
  height: 60px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-9bf53af0-f205-49e3-9cd0-4f864a76423a #s-Panel_2 .verticalalign {
  vertical-align: top;
}
#s-9bf53af0-f205-49e3-9cd0-4f864a76423a #s-Text_1 {
  position: absolute;
  top: 15px;
  left: 10px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Nexa Light,Arial;
}
#s-9bf53af0-f205-49e3-9cd0-4f864a76423a #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9bf53af0-f205-49e3-9cd0-4f864a76423a #s-Text_1 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Nexa Light,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-9bf53af0-f205-49e3-9cd0-4f864a76423a #s-Text_1 span#rtr-s-Text_1_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Nexa Light,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-9bf53af0-f205-49e3-9cd0-4f864a76423a #s-Line_1 {
  position: absolute;
  top: 35px;
  left: 9px;
  width: 99px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-9bf53af0-f205-49e3-9cd0-4f864a76423a #s-Group_1 {
  position: absolute;
  top: 9px;
  left: 113px;
  width: 27px;
  height: 27px;
}
#s-9bf53af0-f205-49e3-9cd0-4f864a76423a #s-Label_3 {
  position: absolute;
  top: 6px;
  left: 0px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: FontAwesomeJiM-Regular,Arial;
}
#s-9bf53af0-f205-49e3-9cd0-4f864a76423a #s-Label_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9bf53af0-f205-49e3-9cd0-4f864a76423a #s-Label_3 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM-Regular,Arial;
  font-size: 16.0pt;
}
#s-9bf53af0-f205-49e3-9cd0-4f864a76423a #s-Label_3 span#rtr-s-Label_3_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM-Regular,Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-9bf53af0-f205-49e3-9cd0-4f864a76423a #s-Ellipse_1 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 14px;
  height: 14px;
  position: absolute;
  overflow: hidden;
}
#s-9bf53af0-f205-49e3-9cd0-4f864a76423a #s-Ellipse_1 .content {
  width: 14px;
  height: 14px;
}
#s-9bf53af0-f205-49e3-9cd0-4f864a76423a #s-Ellipse_1 {
  position: absolute;
  top: 0px;
  left: 13px;
  width: 14px;
  height: 14px;
  background-color: #FC0F3B;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 11px;
  font-size: 6.0pt;
  font-family: Roboto-Light,Arial;
}
#s-9bf53af0-f205-49e3-9cd0-4f864a76423a #shapewrapper-s-Ellipse_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9bf53af0-f205-49e3-9cd0-4f864a76423a #shapewrapper-s-Ellipse_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 6.0pt;
}
#s-9bf53af0-f205-49e3-9cd0-4f864a76423a #shapewrapper-s-Ellipse_1 span#rtr-s-Ellipse_1_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 6.0pt;
  line-height: 0px;
}
#s-9bf53af0-f205-49e3-9cd0-4f864a76423a #s-Panel_3 {
  width: 220px;
  height: 60px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-9bf53af0-f205-49e3-9cd0-4f864a76423a #s-Panel_3 .verticalalign {
  vertical-align: top;
}
#s-9bf53af0-f205-49e3-9cd0-4f864a76423a #s-Text_3 {
  position: absolute;
  top: 15px;
  left: 10px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Nexa Light,Arial;
}
#s-9bf53af0-f205-49e3-9cd0-4f864a76423a #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9bf53af0-f205-49e3-9cd0-4f864a76423a #s-Text_3 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Nexa Light,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-9bf53af0-f205-49e3-9cd0-4f864a76423a #s-Text_3 span#rtr-s-Text_3_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Nexa Light,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-9bf53af0-f205-49e3-9cd0-4f864a76423a #s-Line_3 {
  position: absolute;
  top: 37px;
  left: 10px;
  width: 57px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-9bf53af0-f205-49e3-9cd0-4f864a76423a #s-Panel_4 {
  width: 220px;
  height: 60px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-9bf53af0-f205-49e3-9cd0-4f864a76423a #s-Panel_4 .verticalalign {
  vertical-align: top;
}
#s-9bf53af0-f205-49e3-9cd0-4f864a76423a #s-Text_2 {
  position: absolute;
  top: 15px;
  left: 10px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Nexa Light,Arial;
}
#s-9bf53af0-f205-49e3-9cd0-4f864a76423a #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9bf53af0-f205-49e3-9cd0-4f864a76423a #s-Text_2 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Nexa Light,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-9bf53af0-f205-49e3-9cd0-4f864a76423a #s-Text_2 span#rtr-s-Text_2_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Nexa Light,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-9bf53af0-f205-49e3-9cd0-4f864a76423a #s-Line_2 {
  position: absolute;
  top: 36px;
  left: 10px;
  width: 51px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-9bf53af0-f205-49e3-9cd0-4f864a76423a #s-naveMenuLogged {
  position: absolute;
  top: 0px;
  left: 0px;
}
#s-9bf53af0-f205-49e3-9cd0-4f864a76423a #s-Panel_5 {
  width: 1024px;
  height: 84px;
  background-color: #434343;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-9bf53af0-f205-49e3-9cd0-4f864a76423a #s-Panel_5 .verticalalign {
  vertical-align: top;
}
#s-9bf53af0-f205-49e3-9cd0-4f864a76423a #s-Text_7 {
  position: absolute;
  top: 12px;
  left: 12px;
  width: 175px;
  height: 69px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 42.0pt;
  font-family: Nexa Bold,Arial;
}
#s-9bf53af0-f205-49e3-9cd0-4f864a76423a #s-Text_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9bf53af0-f205-49e3-9cd0-4f864a76423a #s-Text_7 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Nexa Bold,Arial;
  font-size: 42.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-9bf53af0-f205-49e3-9cd0-4f864a76423a #s-Text_7 span#rtr-s-Text_7_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Nexa Bold,Arial;
  font-size: 42.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-9bf53af0-f205-49e3-9cd0-4f864a76423a #s-Text_7 span#rtr-s-Text_7_1 {
  color: #FECE76;
  text-align: left;
  text-decoration: none;
  font-family: Nexa Bold,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-9bf53af0-f205-49e3-9cd0-4f864a76423a #s-Hotspot_5 {
  position: absolute;
  top: 3px;
  left: 10px;
  width: 180px;
  height: 72px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
}
#s-9bf53af0-f205-49e3-9cd0-4f864a76423a #s-Text_8 {
  position: absolute;
  top: 53px;
  left: 273px;
  width: 84px;
  height: 22px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Nexa Bold,Arial;
}
#s-9bf53af0-f205-49e3-9cd0-4f864a76423a #s-Text_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9bf53af0-f205-49e3-9cd0-4f864a76423a #s-Text_8 span {
  color: #EFEFEF;
  text-align: center;
  text-decoration: none;
  font-family: Nexa Bold,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-9bf53af0-f205-49e3-9cd0-4f864a76423a #s-Text_8 span#rtr-s-Text_8_0 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Nexa Bold,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-9bf53af0-f205-49e3-9cd0-4f864a76423a #s-Text_9 {
  position: absolute;
  top: 53px;
  left: 356px;
  width: 84px;
  height: 22px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Nexa Bold,Arial;
}
#s-9bf53af0-f205-49e3-9cd0-4f864a76423a #s-Text_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9bf53af0-f205-49e3-9cd0-4f864a76423a #s-Text_9 span {
  color: #EFEFEF;
  text-align: center;
  text-decoration: none;
  font-family: Nexa Bold,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-9bf53af0-f205-49e3-9cd0-4f864a76423a #s-Text_9 span#rtr-s-Text_9_0 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Nexa Bold,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-9bf53af0-f205-49e3-9cd0-4f864a76423a #s-Text_15 {
  position: absolute;
  top: 53px;
  left: 439px;
  width: 84px;
  height: 22px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Nexa Bold,Arial;
}
#s-9bf53af0-f205-49e3-9cd0-4f864a76423a #s-Text_15 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9bf53af0-f205-49e3-9cd0-4f864a76423a #s-Text_15 span {
  color: #EFEFEF;
  text-align: center;
  text-decoration: none;
  font-family: Nexa Bold,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-9bf53af0-f205-49e3-9cd0-4f864a76423a #s-Text_15 span#rtr-s-Text_15_0 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Nexa Bold,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-9bf53af0-f205-49e3-9cd0-4f864a76423a #s-Text_10 {
  position: absolute;
  top: 53px;
  left: 522px;
  width: 84px;
  height: 22px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Nexa Bold,Arial;
}
#s-9bf53af0-f205-49e3-9cd0-4f864a76423a #s-Text_10 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9bf53af0-f205-49e3-9cd0-4f864a76423a #s-Text_10 span {
  color: #EFEFEF;
  text-align: center;
  text-decoration: none;
  font-family: Nexa Bold,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-9bf53af0-f205-49e3-9cd0-4f864a76423a #s-Text_10 span#rtr-s-Text_10_0 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Nexa Bold,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-9bf53af0-f205-49e3-9cd0-4f864a76423a #s-Hotspot_1 {
  position: absolute;
  top: 33px;
  left: 262px;
  width: 93px;
  height: 40px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
}
#s-9bf53af0-f205-49e3-9cd0-4f864a76423a #s-Hotspot_2 {
  position: absolute;
  top: 32px;
  left: 358px;
  width: 81px;
  height: 42px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
}
#s-9bf53af0-f205-49e3-9cd0-4f864a76423a #s-Hotspot_3 {
  position: absolute;
  top: 33px;
  left: 443px;
  width: 80px;
  height: 40px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
}
#s-9bf53af0-f205-49e3-9cd0-4f864a76423a #s-Hotspot_4 {
  position: absolute;
  top: 31px;
  left: 524px;
  width: 90px;
  height: 40px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
}
#s-9bf53af0-f205-49e3-9cd0-4f864a76423a #s-searchBar {
  position: absolute;
  top: 41px;
  left: 641px;
  width: 200px;
  height: 30px;
}
#s-9bf53af0-f205-49e3-9cd0-4f864a76423a #s-Rectangle_7 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 182px;
  height: 11px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 15px 15px 15px 15px;
  padding-top: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-9bf53af0-f205-49e3-9cd0-4f864a76423a #s-Rectangle_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9bf53af0-f205-49e3-9cd0-4f864a76423a #s-Rectangle_7 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-9bf53af0-f205-49e3-9cd0-4f864a76423a #s-Rectangle_7 span#rtr-s-Rectangle_7_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-9bf53af0-f205-49e3-9cd0-4f864a76423a #s-Input_5 {
  position: absolute;
  top: 1px;
  left: 24px;
  padding-left: 15px;
  width: 114px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-9bf53af0-f205-49e3-9cd0-4f864a76423a #s-Input_5 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-9bf53af0-f205-49e3-9cd0-4f864a76423a #s-Input_5 input {
  color: #555555;
  text-align: left;
  text-decoration: none;
  font-family: Nexa Bold,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  text-shadow: none;
}
#s-9bf53af0-f205-49e3-9cd0-4f864a76423a #s-Label_64 {
  position: absolute;
  top: 5px;
  left: 12px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-9bf53af0-f205-49e3-9cd0-4f864a76423a #s-Label_64 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9bf53af0-f205-49e3-9cd0-4f864a76423a #s-Label_64 span {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 16.0pt;
}
#s-9bf53af0-f205-49e3-9cd0-4f864a76423a #s-Label_64 span#rtr-s-Label_64_0 {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-9bf53af0-f205-49e3-9cd0-4f864a76423a #s-Image_6 {
  position: absolute;
  top: 18px;
  left: 952px;
  width: 57px;
  height: 57px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-9bf53af0-f205-49e3-9cd0-4f864a76423a #s-Text_11 {
  position: absolute;
  top: 53px;
  left: 867px;
  width: 86px;
  height: 22px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Nexa Bold,Arial;
}
#s-9bf53af0-f205-49e3-9cd0-4f864a76423a #s-Text_11 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9bf53af0-f205-49e3-9cd0-4f864a76423a #s-Text_11 span {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Nexa Bold,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-9bf53af0-f205-49e3-9cd0-4f864a76423a #s-Text_11 span#rtr-s-Text_11_0 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Nexa Bold,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-9bf53af0-f205-49e3-9cd0-4f864a76423a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}