#s-9bf53af0-f205-49e3-9cd0-4f864a76423a #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9bf53af0-f205-49e3-9cd0-4f864a76423a #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9bf53af0-f205-49e3-9cd0-4f864a76423a #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9bf53af0-f205-49e3-9cd0-4f864a76423a #s-Button_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9bf53af0-f205-49e3-9cd0-4f864a76423a #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9bf53af0-f205-49e3-9cd0-4f864a76423a #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9bf53af0-f205-49e3-9cd0-4f864a76423a #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9bf53af0-f205-49e3-9cd0-4f864a76423a #s-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9bf53af0-f205-49e3-9cd0-4f864a76423a #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9bf53af0-f205-49e3-9cd0-4f864a76423a #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9bf53af0-f205-49e3-9cd0-4f864a76423a #s-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9bf53af0-f205-49e3-9cd0-4f864a76423a #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9bf53af0-f205-49e3-9cd0-4f864a76423a #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9bf53af0-f205-49e3-9cd0-4f864a76423a #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9bf53af0-f205-49e3-9cd0-4f864a76423a #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9bf53af0-f205-49e3-9cd0-4f864a76423a #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9bf53af0-f205-49e3-9cd0-4f864a76423a #s-Text_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9bf53af0-f205-49e3-9cd0-4f864a76423a #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9bf53af0-f205-49e3-9cd0-4f864a76423a #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9bf53af0-f205-49e3-9cd0-4f864a76423a #s-Label_64 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9bf53af0-f205-49e3-9cd0-4f864a76423a #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9bf53af0-f205-49e3-9cd0-4f864a76423a #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9bf53af0-f205-49e3-9cd0-4f864a76423a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}