#s-a5210d72-e0aa-4c5a-a6da-68dd37a1ce1c #s-Rich_text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a5210d72-e0aa-4c5a-a6da-68dd37a1ce1c #s-Rectangle_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a5210d72-e0aa-4c5a-a6da-68dd37a1ce1c #s-Rich_text_9 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99) ;
  filter: alpha(opacity=99) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a5210d72-e0aa-4c5a-a6da-68dd37a1ce1c #s-Button_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a5210d72-e0aa-4c5a-a6da-68dd37a1ce1c #s-Rectangle_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a5210d72-e0aa-4c5a-a6da-68dd37a1ce1c #s-Rich_text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a5210d72-e0aa-4c5a-a6da-68dd37a1ce1c #s-Button_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a5210d72-e0aa-4c5a-a6da-68dd37a1ce1c #s-Paragraph_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a5210d72-e0aa-4c5a-a6da-68dd37a1ce1c #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a5210d72-e0aa-4c5a-a6da-68dd37a1ce1c #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a5210d72-e0aa-4c5a-a6da-68dd37a1ce1c #s-Text_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99) ;
  filter: alpha(opacity=99) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a5210d72-e0aa-4c5a-a6da-68dd37a1ce1c #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a5210d72-e0aa-4c5a-a6da-68dd37a1ce1c #s-Text_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a5210d72-e0aa-4c5a-a6da-68dd37a1ce1c #s-Text_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a5210d72-e0aa-4c5a-a6da-68dd37a1ce1c #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a5210d72-e0aa-4c5a-a6da-68dd37a1ce1c #s-Text_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a5210d72-e0aa-4c5a-a6da-68dd37a1ce1c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}