#s-a5210d72-e0aa-4c5a-a6da-68dd37a1ce1c #s-Rich_text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-a5210d72-e0aa-4c5a-a6da-68dd37a1ce1c #s-Rectangle_22 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EEEEEE;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #EEEEEE;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EEEEEE;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #EEEEEE;
  border-radius: 8px 8px 8px 8px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  width: 412px;
  height: 302px;
  -ms-transform: rotate(0.0deg);
}
#s-a5210d72-e0aa-4c5a-a6da-68dd37a1ce1c #s-Rich_text_9 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
  -ms-transform: rotate(0.0deg);
}
#s-a5210d72-e0aa-4c5a-a6da-68dd37a1ce1c #s-Button_13 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FC363B;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FC363B;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FC363B;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FC363B;
  border-radius: 6px 6px 6px 6px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 163px;
  height: 28px;
  -ms-transform: rotate(0.0deg);
}
#s-a5210d72-e0aa-4c5a-a6da-68dd37a1ce1c #s-Rectangle_21 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EEEEEE;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #EEEEEE;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EEEEEE;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #EEEEEE;
  border-radius: 8px 8px 8px 8px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  width: 412px;
  height: 302px;
  -ms-transform: rotate(0.0deg);
}
#s-a5210d72-e0aa-4c5a-a6da-68dd37a1ce1c #s-Rich_text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-a5210d72-e0aa-4c5a-a6da-68dd37a1ce1c #s-Button_12 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #428BCA;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #428BCA;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #428BCA;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #428BCA;
  border-radius: 6px 6px 6px 6px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 163px;
  height: 28px;
  -ms-transform: rotate(0.0deg);
}
#s-a5210d72-e0aa-4c5a-a6da-68dd37a1ce1c #s-Paragraph_3 {
  -ms-transform: rotate(0.0deg);
}
#s-a5210d72-e0aa-4c5a-a6da-68dd37a1ce1c #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-a5210d72-e0aa-4c5a-a6da-68dd37a1ce1c #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-a5210d72-e0aa-4c5a-a6da-68dd37a1ce1c #s-Text_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
  -ms-transform: rotate(0.0deg);
}
#s-a5210d72-e0aa-4c5a-a6da-68dd37a1ce1c #s-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#s-a5210d72-e0aa-4c5a-a6da-68dd37a1ce1c #s-Text_16 {
  -ms-transform: rotate(0.0deg);
}
#s-a5210d72-e0aa-4c5a-a6da-68dd37a1ce1c #s-Text_15 {
  -ms-transform: rotate(0.0deg);
}
#s-a5210d72-e0aa-4c5a-a6da-68dd37a1ce1c #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-a5210d72-e0aa-4c5a-a6da-68dd37a1ce1c #s-Text_17 {
  -ms-transform: rotate(0.0deg);
}
#s-a5210d72-e0aa-4c5a-a6da-68dd37a1ce1c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}