#s-a95b1142-be18-47d3-ab80-0ed56a7ab577 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a95b1142-be18-47d3-ab80-0ed56a7ab577 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a95b1142-be18-47d3-ab80-0ed56a7ab577 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a95b1142-be18-47d3-ab80-0ed56a7ab577 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a95b1142-be18-47d3-ab80-0ed56a7ab577 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a95b1142-be18-47d3-ab80-0ed56a7ab577 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a95b1142-be18-47d3-ab80-0ed56a7ab577 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a95b1142-be18-47d3-ab80-0ed56a7ab577 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a95b1142-be18-47d3-ab80-0ed56a7ab577 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a95b1142-be18-47d3-ab80-0ed56a7ab577 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a95b1142-be18-47d3-ab80-0ed56a7ab577 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a95b1142-be18-47d3-ab80-0ed56a7ab577 #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a95b1142-be18-47d3-ab80-0ed56a7ab577 #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a95b1142-be18-47d3-ab80-0ed56a7ab577 #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a95b1142-be18-47d3-ab80-0ed56a7ab577 #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a95b1142-be18-47d3-ab80-0ed56a7ab577 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a95b1142-be18-47d3-ab80-0ed56a7ab577 #s-Text_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a95b1142-be18-47d3-ab80-0ed56a7ab577 #s-Text_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a95b1142-be18-47d3-ab80-0ed56a7ab577 #s-Text_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a95b1142-be18-47d3-ab80-0ed56a7ab577 #s-Text_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a95b1142-be18-47d3-ab80-0ed56a7ab577 #s-Text_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a95b1142-be18-47d3-ab80-0ed56a7ab577 #s-Label_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a95b1142-be18-47d3-ab80-0ed56a7ab577 #s-Label_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a95b1142-be18-47d3-ab80-0ed56a7ab577 #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a95b1142-be18-47d3-ab80-0ed56a7ab577 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a95b1142-be18-47d3-ab80-0ed56a7ab577 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a95b1142-be18-47d3-ab80-0ed56a7ab577 #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a95b1142-be18-47d3-ab80-0ed56a7ab577 #s-Button_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a95b1142-be18-47d3-ab80-0ed56a7ab577 #s-Text_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a95b1142-be18-47d3-ab80-0ed56a7ab577 #s-Text_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a95b1142-be18-47d3-ab80-0ed56a7ab577 #s-Label_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a95b1142-be18-47d3-ab80-0ed56a7ab577 #s-Label_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a95b1142-be18-47d3-ab80-0ed56a7ab577 #s-Button_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a95b1142-be18-47d3-ab80-0ed56a7ab577 #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a95b1142-be18-47d3-ab80-0ed56a7ab577 #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a95b1142-be18-47d3-ab80-0ed56a7ab577 #s-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a95b1142-be18-47d3-ab80-0ed56a7ab577 #s-Text_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a95b1142-be18-47d3-ab80-0ed56a7ab577 #s-Text_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a95b1142-be18-47d3-ab80-0ed56a7ab577 #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a95b1142-be18-47d3-ab80-0ed56a7ab577 #s-Label_64 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a95b1142-be18-47d3-ab80-0ed56a7ab577 #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a95b1142-be18-47d3-ab80-0ed56a7ab577 #s-Text_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a95b1142-be18-47d3-ab80-0ed56a7ab577 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}