#s-a95b1142-be18-47d3-ab80-0ed56a7ab577 #s-Panel_2 > .valign {
  vertical-align: top;
}
#s-a95b1142-be18-47d3-ab80-0ed56a7ab577 #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-a95b1142-be18-47d3-ab80-0ed56a7ab577 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-a95b1142-be18-47d3-ab80-0ed56a7ab577 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-a95b1142-be18-47d3-ab80-0ed56a7ab577 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-a95b1142-be18-47d3-ab80-0ed56a7ab577 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-a95b1142-be18-47d3-ab80-0ed56a7ab577 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-a95b1142-be18-47d3-ab80-0ed56a7ab577 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-a95b1142-be18-47d3-ab80-0ed56a7ab577 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-a95b1142-be18-47d3-ab80-0ed56a7ab577 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-a95b1142-be18-47d3-ab80-0ed56a7ab577 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-a95b1142-be18-47d3-ab80-0ed56a7ab577 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-a95b1142-be18-47d3-ab80-0ed56a7ab577 #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-a95b1142-be18-47d3-ab80-0ed56a7ab577 #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-a95b1142-be18-47d3-ab80-0ed56a7ab577 #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-a95b1142-be18-47d3-ab80-0ed56a7ab577 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-a95b1142-be18-47d3-ab80-0ed56a7ab577 #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-a95b1142-be18-47d3-ab80-0ed56a7ab577 #s-Text_20 {
  -ms-transform: rotate(0.0deg);
}
#s-a95b1142-be18-47d3-ab80-0ed56a7ab577 #s-Text_22 {
  -ms-transform: rotate(0.0deg);
}
#s-a95b1142-be18-47d3-ab80-0ed56a7ab577 #s-Text_23 {
  -ms-transform: rotate(0.0deg);
}
#s-a95b1142-be18-47d3-ab80-0ed56a7ab577 #s-Text_24 {
  -ms-transform: rotate(0.0deg);
}
#s-a95b1142-be18-47d3-ab80-0ed56a7ab577 #s-Text_21 {
  -ms-transform: rotate(0.0deg);
}
#s-a95b1142-be18-47d3-ab80-0ed56a7ab577 #s-calendarTable {
  border-collapse: separate;
}
#s-a95b1142-be18-47d3-ab80-0ed56a7ab577 #s-Label_4 {
  -ms-transform: rotate(0.0deg);
}
#s-a95b1142-be18-47d3-ab80-0ed56a7ab577 #s-Label_5 {
  -ms-transform: rotate(0.0deg);
}
#s-a95b1142-be18-47d3-ab80-0ed56a7ab577 #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-a95b1142-be18-47d3-ab80-0ed56a7ab577 #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-a95b1142-be18-47d3-ab80-0ed56a7ab577 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-a95b1142-be18-47d3-ab80-0ed56a7ab577 #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-a95b1142-be18-47d3-ab80-0ed56a7ab577 #s-Button_10 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 76px;
  height: 24px;
  -ms-transform: rotate(0.0deg);
}
#s-a95b1142-be18-47d3-ab80-0ed56a7ab577 #s-Text_16 {
  -ms-transform: rotate(0.0deg);
}
#s-a95b1142-be18-47d3-ab80-0ed56a7ab577 #s-Text_15 {
  -ms-transform: rotate(0.0deg);
}
#s-a95b1142-be18-47d3-ab80-0ed56a7ab577 #s-Label_9 {
  -ms-transform: rotate(0.0deg);
}
#s-a95b1142-be18-47d3-ab80-0ed56a7ab577 #s-Label_32 {
  -ms-transform: rotate(0.0deg);
}
#s-a95b1142-be18-47d3-ab80-0ed56a7ab577 #s-Button_12 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #428BCA;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #428BCA;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #428BCA;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #428BCA;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 74px;
  height: 22px;
  -ms-transform: rotate(0.0deg);
}
#s-a95b1142-be18-47d3-ab80-0ed56a7ab577 #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-a95b1142-be18-47d3-ab80-0ed56a7ab577 #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-a95b1142-be18-47d3-ab80-0ed56a7ab577 #s-Text_14 {
  -ms-transform: rotate(0.0deg);
}
#s-a95b1142-be18-47d3-ab80-0ed56a7ab577 #s-Text_17 {
  -ms-transform: rotate(0.0deg);
}
#s-a95b1142-be18-47d3-ab80-0ed56a7ab577 #s-Text_18 {
  -ms-transform: rotate(0.0deg);
}
#s-a95b1142-be18-47d3-ab80-0ed56a7ab577 #s-Rectangle_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 15px 15px 15px 15px;
  padding-top: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  width: 182px;
  height: 11px;
  -ms-transform: rotate(0.0deg);
}
#s-a95b1142-be18-47d3-ab80-0ed56a7ab577 #s-Label_64 {
  -ms-transform: rotate(0.0deg);
}
#s-a95b1142-be18-47d3-ab80-0ed56a7ab577 #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-a95b1142-be18-47d3-ab80-0ed56a7ab577 #s-Text_19 {
  -ms-transform: rotate(0.0deg);
}
#s-a95b1142-be18-47d3-ab80-0ed56a7ab577 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}