#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Image_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20) ;
  filter: alpha(opacity=20) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Label_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Label_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Label_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Label_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Label_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Label_153 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Label_152 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Label_154 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Paragraph_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Paragraph_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Paragraph_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Paragraph_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Text_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=97) ;
  filter: alpha(opacity=97) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Text_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Label_64 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}