#s-c2e4e839-d047-46ba-b9a8-c0b37961035c > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c > #alignmentBox {
  position: relative;
  margin: 0 auto;
  width: 1024px;
  min-width: 1024px;
  min-height: 768px;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Image_1 {
  position: absolute;
  top: 40px;
  left: 0px;
  width: 1024px;
  height: 692px;
  opacity: 0.2;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Group_3 {
  position: absolute;
  top: 661px;
  left: 16px;
  width: 120px;
  height: 19px;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Text_3 {
  position: absolute;
  top: 3px;
  left: 0px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Nexa Bold,Arial;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Text_3 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Nexa Bold,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Text_3 span#rtr-s-Text_3_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Nexa Bold,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Label_3 {
  position: absolute;
  top: 0px;
  left: 106px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: FontAwesomeJiM-Regular,Arial;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Label_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Label_3 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM-Regular,Arial;
  font-size: 12.0pt;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Label_3 span#rtr-s-Label_3_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-footerBar {
  position: absolute;
  top: 729px;
  left: 0px;
  width: 1024px;
  height: 43px;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Label_31 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 17px;
  width: 1005px;
  height: 40px;
  background-color: #434343;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D4D4D4;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D4D4D4;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D4D4D4;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D4D4D4;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: Arial,Arial;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Label_31 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Label_31 span {
  color: #FC0F3B;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Label_31 span#rtr-s-Label_31_0 {
  color: #FC0F3B;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Label_28 {
  position: absolute;
  top: 3px;
  left: 756px;
  width: 70px;
  height: 40px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Nexa Bold,Arial;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Label_28 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Label_28 span {
  color: #CCCCCC;
  text-align: center;
  text-decoration: none;
  font-family: Nexa Bold,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Label_28 span#rtr-s-Label_28_0 {
  color: #CCCCCC;
  text-align: center;
  text-decoration: none;
  font-family: Nexa Bold,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Label_32 {
  position: absolute;
  top: 3px;
  left: 830px;
  width: 70px;
  height: 40px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Nexa Bold,Arial;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Label_32 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Label_32 span {
  color: #CCCCCC;
  text-align: center;
  text-decoration: none;
  font-family: Nexa Bold,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Label_32 span#rtr-s-Label_32_0 {
  color: #CCCCCC;
  text-align: center;
  text-decoration: none;
  font-family: Nexa Bold,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Label_33 {
  position: absolute;
  top: 3px;
  left: 398px;
  width: 233px;
  height: 40px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Nexa Bold,Arial;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Label_33 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Label_33 span {
  color: #CCCCCC;
  text-align: center;
  text-decoration: none;
  font-family: Nexa Bold,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Label_33 span#rtr-s-Label_33_0 {
  color: #CCCCCC;
  text-align: center;
  text-decoration: none;
  font-family: Nexa Bold,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Label_33 span#rtr-s-Label_33_1 {
  color: #CCCCCC;
  text-align: left;
  text-decoration: none;
  font-family: Nexa Bold,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Label_34 {
  position: absolute;
  top: 3px;
  left: 915px;
  width: 85px;
  height: 40px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Nexa Bold,Arial;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Label_34 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Label_34 span {
  color: #CCCCCC;
  text-align: center;
  text-decoration: none;
  font-family: Nexa Bold,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Label_34 span#rtr-s-Label_34_0 {
  color: #CCCCCC;
  text-align: center;
  text-decoration: none;
  font-family: Nexa Bold,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Label_153 {
  position: absolute;
  top: 10px;
  left: 108px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Label_153 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Label_153 span {
  color: #CCCCCC;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Label_153 span#rtr-s-Label_153_0 {
  color: #CCCCCC;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Label_152 {
  position: absolute;
  top: 10px;
  left: 65px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Label_152 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Label_152 span {
  color: #CCCCCC;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Label_152 span#rtr-s-Label_152_0 {
  color: #CCCCCC;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Label_154 {
  position: absolute;
  top: 10px;
  left: 23px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Label_154 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Label_154 span {
  color: #CCCCCC;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Label_154 span#rtr-s-Label_154_0 {
  color: #CCCCCC;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-galleryContainer {
  position: absolute;
  top: 40px;
  left: 0px;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Panel_2 {
  width: 1023px;
  height: 613px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: scroll;
  overflow-y: hidden;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Panel_2 .verticalalign {
  vertical-align: top;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-portraitContainer {
  position: absolute;
  top: 189px;
  left: 1247px;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Panel_3 {
  width: 238px;
  height: 348px;
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Panel_3 .verticalalign {
  vertical-align: top;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Image_3 {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 200px;
  height: 241px;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #000000;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Paragraph_2 {
  position: absolute;
  top: 270px;
  left: 20px;
  width: 200px;
  height: 80px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Nexa Light,Arial;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Paragraph_2 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Nexa Light,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Nexa Light,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-portraitContainer4 {
  position: absolute;
  top: 187px;
  left: 573px;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Panel_4 {
  width: 646px;
  height: 348px;
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Panel_4 .verticalalign {
  vertical-align: top;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Image_5 {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 605px;
  height: 241px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Paragraph_6 {
  position: absolute;
  top: 269px;
  left: 20px;
  width: 537px;
  height: 80px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Nexa Light,Arial;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Paragraph_6 .valign {
  vertical-align: top;
  text-align: left;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Paragraph_6 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Nexa Light,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Paragraph_6 span#rtr-s-Paragraph_6_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Nexa Light,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-portraitContainer_2 {
  position: absolute;
  top: 187px;
  left: 306px;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Panel_7 {
  width: 238px;
  height: 348px;
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Panel_7 .verticalalign {
  vertical-align: top;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Image_8 {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 200px;
  height: 241px;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #000000;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Paragraph_5 {
  position: absolute;
  top: 270px;
  left: 20px;
  width: 200px;
  height: 80px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Nexa Light,Arial;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Paragraph_5 .valign {
  vertical-align: top;
  text-align: left;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Paragraph_5 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Nexa Light,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Nexa Light,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Hotspot_6 {
  position: absolute;
  top: 0px;
  left: 5px;
  width: 235px;
  height: 340px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-portraitContainer_1 {
  position: absolute;
  top: 189px;
  left: 38px;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Panel_5 {
  width: 238px;
  height: 348px;
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Panel_5 .verticalalign {
  vertical-align: top;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Image_7 {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 200px;
  height: 241px;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #000000;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Paragraph_4 {
  position: absolute;
  top: 270px;
  left: 20px;
  width: 200px;
  height: 80px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Nexa Light,Arial;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Paragraph_4 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Nexa Light,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Nexa Light,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-portraitContainer_3 {
  position: absolute;
  top: 189px;
  left: 1514px;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Panel_10 {
  width: 414px;
  height: 348px;
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Panel_10 .verticalalign {
  vertical-align: top;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Paragraph_3 {
  position: absolute;
  top: 270px;
  left: 20px;
  width: 200px;
  height: 80px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Nexa Light,Arial;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Paragraph_3 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Nexa Light,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Nexa Light,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Image_2 {
  position: absolute;
  top: 20px;
  left: 19px;
  width: 376px;
  height: 241px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-titleContainer {
  position: absolute;
  top: 40px;
  left: 1px;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Panel_6 {
  width: 1024px;
  height: 142px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Panel_6 .verticalalign {
  vertical-align: top;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Dynamic_Panel_2 {
  position: absolute;
  top: 33px;
  left: -1px;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Panel_9 {
  width: 1024px;
  height: 130px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Panel_9 .verticalalign {
  vertical-align: top;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Text_2 {
  position: absolute;
  top: 80px;
  left: 0px;
  width: 1024px;
  height: 39px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Nexa Light,Arial;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Text_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Text_2 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Nexa Light,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Text_2 span#rtr-s-Text_2_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Nexa Light,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Text_1 {
  position: absolute;
  top: 21px;
  left: 0px;
  padding-top: 20px;
  width: 1024px;
  height: 40px;
  background-color: transparent;
  background-image: none;
  opacity: 0.97;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 28.0pt;
  font-family: Nexa Bold,Arial;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Text_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Text_1 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Nexa Bold,Arial;
  font-size: 28.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Text_1 span#rtr-s-Text_1_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Nexa Bold,Arial;
  font-size: 28.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-naveMenuLogged {
  position: absolute;
  top: 0px;
  left: 0px;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Panel_1 {
  width: 1024px;
  height: 84px;
  background-color: #434343;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Panel_1 .verticalalign {
  vertical-align: top;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Text_4 {
  position: absolute;
  top: 12px;
  left: 12px;
  width: 175px;
  height: 69px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 42.0pt;
  font-family: Nexa Bold,Arial;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Text_4 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Nexa Bold,Arial;
  font-size: 42.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Text_4 span#rtr-s-Text_4_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Nexa Bold,Arial;
  font-size: 42.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Text_4 span#rtr-s-Text_4_1 {
  color: #FECE76;
  text-align: left;
  text-decoration: none;
  font-family: Nexa Bold,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Hotspot_5 {
  position: absolute;
  top: 3px;
  left: 10px;
  width: 180px;
  height: 72px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Text_5 {
  position: absolute;
  top: 53px;
  left: 273px;
  width: 84px;
  height: 22px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Nexa Bold,Arial;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Text_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Text_5 span {
  color: #EFEFEF;
  text-align: center;
  text-decoration: none;
  font-family: Nexa Bold,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Text_5 span#rtr-s-Text_5_0 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Nexa Bold,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Text_9 {
  position: absolute;
  top: 53px;
  left: 356px;
  width: 84px;
  height: 22px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Nexa Bold,Arial;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Text_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Text_9 span {
  color: #EFEFEF;
  text-align: center;
  text-decoration: none;
  font-family: Nexa Bold,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Text_9 span#rtr-s-Text_9_0 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Nexa Bold,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Text_15 {
  position: absolute;
  top: 53px;
  left: 439px;
  width: 84px;
  height: 22px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Nexa Bold,Arial;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Text_15 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Text_15 span {
  color: #EFEFEF;
  text-align: center;
  text-decoration: none;
  font-family: Nexa Bold,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Text_15 span#rtr-s-Text_15_0 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Nexa Bold,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Text_10 {
  position: absolute;
  top: 53px;
  left: 522px;
  width: 84px;
  height: 22px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Nexa Bold,Arial;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Text_10 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Text_10 span {
  color: #EFEFEF;
  text-align: center;
  text-decoration: none;
  font-family: Nexa Bold,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Text_10 span#rtr-s-Text_10_0 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Nexa Bold,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Hotspot_1 {
  position: absolute;
  top: 33px;
  left: 262px;
  width: 93px;
  height: 40px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Hotspot_2 {
  position: absolute;
  top: 32px;
  left: 358px;
  width: 81px;
  height: 42px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Hotspot_3 {
  position: absolute;
  top: 33px;
  left: 443px;
  width: 80px;
  height: 40px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Hotspot_4 {
  position: absolute;
  top: 31px;
  left: 524px;
  width: 90px;
  height: 40px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-searchBar {
  position: absolute;
  top: 41px;
  left: 641px;
  width: 200px;
  height: 30px;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Rectangle_7 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 182px;
  height: 11px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 15px 15px 15px 15px;
  padding-top: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Rectangle_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Rectangle_7 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Rectangle_7 span#rtr-s-Rectangle_7_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Input_5 {
  position: absolute;
  top: 1px;
  left: 24px;
  padding-left: 15px;
  width: 114px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Input_5 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Input_5 input {
  color: #555555;
  text-align: left;
  text-decoration: none;
  font-family: Nexa Bold,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  text-shadow: none;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Label_64 {
  position: absolute;
  top: 5px;
  left: 12px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Label_64 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Label_64 span {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 16.0pt;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Label_64 span#rtr-s-Label_64_0 {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Image_6 {
  position: absolute;
  top: 18px;
  left: 952px;
  width: 57px;
  height: 57px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Text_11 {
  position: absolute;
  top: 53px;
  left: 867px;
  width: 86px;
  height: 22px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Nexa Bold,Arial;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Text_11 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Text_11 span {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Nexa Bold,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Text_11 span#rtr-s-Text_11_0 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Nexa Bold,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}