#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Image_1 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  filter: alpha(opacity=20);
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Label_3 {
  -ms-transform: rotate(0.0deg);
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Label_31 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D4D4D4;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D4D4D4;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D4D4D4;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D4D4D4;
  -ms-transform: rotate(0.0deg);
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Label_28 {
  -ms-transform: rotate(0.0deg);
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Label_32 {
  -ms-transform: rotate(0.0deg);
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Label_33 {
  -ms-transform: rotate(0.0deg);
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Label_34 {
  -ms-transform: rotate(0.0deg);
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Label_153 {
  -ms-transform: rotate(0.0deg);
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Label_152 {
  -ms-transform: rotate(0.0deg);
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Label_154 {
  -ms-transform: rotate(0.0deg);
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Paragraph_6 {
  -ms-transform: rotate(0.0deg);
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Paragraph_5 {
  -ms-transform: rotate(0.0deg);
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Paragraph_4 {
  -ms-transform: rotate(0.0deg);
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Paragraph_3 {
  -ms-transform: rotate(0.0deg);
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Text_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=97);
  filter: alpha(opacity=97);
  -ms-transform: rotate(0.0deg);
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Text_15 {
  -ms-transform: rotate(0.0deg);
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Rectangle_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 15px 15px 15px 15px;
  padding-top: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  width: 182px;
  height: 11px;
  -ms-transform: rotate(0.0deg);
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Label_64 {
  -ms-transform: rotate(0.0deg);
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-c2e4e839-d047-46ba-b9a8-c0b37961035c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}